<h2>show the question</h2>


<%= @question.body %>
	<div id="comments">
		<% @question.comments.each do |comment| %>
			<%= comment.body %>
		<% end %>
	</div>


<div id="add_comments"> </div>




<%= link_to "add comment for question", question_comments_path(@question), :remote => true %>

