<h2>show the question</h2>


<%= @question.body %>
	<div id="comments">
	</div>

 <div id="add_comments">

 </div>


<!-- ##adding comment to the QUESTION -->
<%#= link_to "add comment", comments_show_comment_path,  :id => "question_comment_link", :remote => true  %>


<%= link_to "add comment", show_comment_question_path, :remote => true %>